<mat-card id="main-header">
  <h1 class="lead">{{ title }}</h1>
  <p>beautiful home, ever green!</p>
</mat-card>
<section>
  <mat-card-title id="location">
    <form id="apartment">
      <mat-card *ngFor="let apartment of apartments" class="rent-card">
        <!-- <img mat-card-image [src]="apartment.imagePath" alt="house image" /> -->
        <img mat-card-image (click)="apartmentDetails(apartment)" id="apt-img" src="{{ apartment.imagePath }}"
          alt="house image" />
        <mat-card-title>

          <h2>
            <label for="reference">REFERENCE: </label>
            <strong>
              {{ apartment.reference | uppercase }}
            </strong>
          </h2>

          <label for="address"> </label>
          <h2>{{ apartment.address }}</h2>

        </mat-card-title>
        <mat-card-content>
          <p>
            <label for="description"> </label>
            {{ apartment.description }}
          </p>

          <p>
            <label for="price">Price: {{ apartment.price | currency }} </label>
          </p>

        </mat-card-content>
        <mat-card-actions>

          <button class="full-width" mat-button (click)="apartmentDetails(apartment)">
            View Details
          </button>


        </mat-card-actions>
      </mat-card>
    </form>
  </mat-card-title>
</section>
