<section>
  <mat-card-title>
    <h1>About Us</h1>
  </mat-card-title>
  <mat-card id="about">
    <p>
      Founded in 2019, Apartment Rentals Properties with an outstanding reputation and has as its cornerstone the
      excellence of
      its
      people. We start our business in the Free State - Welkom and relocate to Gauteng.

      We specialise in the sale of residential properties. At Apartment Rentals Properties our mission is to provide
      excellent
      service with integrity and honesty, always acting in the best interest of both the buyer and the seller.

      Who ever you are and whatever your residential property needs may be, we at Apartment Rentals Properties look
      forward to
      offering you a positively unique and memorable property experience.
    </p>
    <p>Our areas include but are not limited to: RUIMSIG, LITTLE FALLS, WILLOWBROOK, STRUBENSVALLEY, HONEYDEW,
      POORTVIEW, AMOROSA, HELDERKRUIN, FEATHERBROOK, KRUGERSDORP (WEST RAND AREA'S)</p>
  </mat-card>
</section>
