<section>
  <mat-card-title>
    <h1>About Us</h1>
  </mat-card-title>
  <mat-card id="about">
    <p>
      I am a passionate growing Graphics Designer and Web Designer. I am a
      self-motivated hard-working individual who can communicate with different
      people at different levels. As a junior Designer, I would like to increase
      my skills by utilizing all the necessary tools to make the best in
      graphics and web design. I do web development using HTML5, CSS3, and some
      CMS tools to create beautiful responsive and functional websites for
      easier web maintenance. I have fallen in love with computer servicing and
      maintenance and I am currently studying CompTIA A+ on Udemy.
    </p>
  </mat-card>
</section>
