#main-contact {
  display: grid;
}

.input-full-width {
  width: 100%;
}
.myprofile {
  width: 200px;
  border-radius: 50%;
  border: #673ab7 5px solid;
}

#contact-details,
#contact-form {
  border-bottom: #673ab7 5px solid;
  
}
