section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

mat-card {
  width: 500px;
}
.input-form {
  width: 450px;
}

.input-full-width {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
small {
  display: flex;
}
