mat-card-title {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  align-items: center;
}

.input-full-width {
  width: 100%;
}

#apartment-form {
  width: 70%;
  margin: auto;
  border-bottom: #673ab7 5px solid;
}

/* Media Query Mixins */

@media screen and (max-width: 680px) {
  #apartment-form {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #apartment-form {
    width: 90%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
}

@media screen and (min-width: 1171px) {
}
