/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
section {
  width: 85%;
  margin: auto;
  align-items: center;
}

mat-icon {
  color: #673ab7;
}
